

#title, #subtitle, #subsub{
    font-family: 'Times New Roman', Times, serif;
}

#title{
    font-size: 32px;
    text-align: center;
}

#subtitle{
    font-size: 26px;
}

#subsub{
    font-size: 20px;
}

.recipe .descrip{
    font-size: 14px;
}

.text{
    font-size: 12px;
}

section{
    display: flex;
    border-radius: 10px;
    background-color: bisque;
    margin: 10px 40px;
    padding: 10px;
}